@import '../../styles/variables';

.profile {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 629px;
  &__data {
    display: flex;
    flex-direction: row;
  }
  &__img {
    height: 200px;
    width: 200px;
  }
  &__info {
    padding: 1.8rem 0 1.8rem 4.5rem;
  }
  &__title {
    font-weight: 700;
    font-size: 42px;
    margin-bottom: 1rem;
  }
  &__description {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 2rem;
  }
  &__about {
    margin-top: 2.5rem;
    font-weight: 400;
    font-size: 18px;
    text-align: justify;
    line-height: 150%;
  }
}

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $main-white;
  &__item {
    padding-right: 2rem;
  }
}
