@import '../src/styles/reset';
@import '../src/styles/variables';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Nunito:wght@400;500;700&display=swap');

/* Standards rules */

body {
  max-width: 1440px;
  background-color: $background;
  color: $light-grey;
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-family: 'Inter', sans-serif;
}
